.btn a {
  width: 180px;
  height: 100px;
  line-height: 50px;
  text-align: center;
  display: block;
  background: #888;
  border-radius: 5px;
  border: 2px solid #777;
  color: #ccc;
  padding: 50px 0 0 0;
}

.btn a:hover{
  background-color: #999;
  border-radius: 15px;
}

.title {
  text-align: center;
  font-family: "Source Sans Pro", Helvetica, Arial, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "YuGothic", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", sans-serif;
  height: 8vh; 
  padding: 15px 0 0 0;
  color: #222;
  background-color: #FFF;
}

.table {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (max-width: 599px) {

  .btn a {
    width: 180px;
    height: 100px;
    line-height: 50px;
    text-align: center;
    display: block;
    background: #888;
    border-radius: 5px;
    border: 2px solid #777;
    color: #ccc;
    padding: 50px 0 0 0;
  }
  
  .btn a:hover{
    background-color: #999;
    border-radius: 15px;
  }
  
  .title {
    text-align: center;
    font-family: "Source Sans Pro", Helvetica, Arial, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "YuGothic", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", sans-serif;
    height: 8vh; 
    padding: 15px 0 0 0;
    color: #222;
    background-color: #FFF;
  }
  
  .table {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}